.content-template-imagelayout .content-template .select-thumb {width:400px; height:191px;}

/* add the thumbnails - if the sizes are different, change them here */
.content-template-imagelayout .select-thumb.selected-full-width {background-image: url(/?a=7414); background-size: 400px 190px; width:400px; height: 191px;}
.content-template-imagelayout .select-thumb.selected-fullwidth-mid {background-image: url(/?a=7415); background-size: 400px 191px;}
.content-template-imagelayout .select-thumb.selected-fullwidth-bottom {background-image: url(/?a=7416); background-size: 400px 191px;}
